@inherits LayoutComponentBase

<div class="header">
    <img src="/images/github-logo.svg" alt="Github logo" />
    <label>GitHub Contribution Art</label>
</div>

@Body

<div class="footer">
    <div class="github-link">
        <img src="/images/github-logo.svg" alt="Github logo" />
        <a class="source-code-link" href="https://github.com/mantinband/github-contribution-art">give me a star!</a>
    </div>
    <div class="patreon-link">
        <img src="/images/pizza.png" alt="Pizza icon" />
        <a href="https://www.patreon.com/bePatron?u=63309090" data-patreon-widget-type="become-patron-button">Buy me pizza!</a>
    </div>
</div>
