.loading-container {
    padding-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0 5em;
    min-height: 100vh;
}

    .loading-container > .loading-text {
        color: black;
        font-size: 1.4em;
        font-weight: 700;
    }

    .loading-container > .spinner {
        border: 16px solid silver;
        border-top: 16px solid #337AB7;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 700ms linear infinite;
        margin: 0 auto;
    }

.error-container {
    margin-top: 2em;
    width: 100%;
    height: 100%;
    padding: 0 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.2em;
}

    .error-container > p {
        display: block;
    }

    .error-container > button {
        display: block;
        padding: 0.3em 1.2em;
        color: white;
        font-weight: 500;
        font-size: 0.8em;
        background: #0969DA;
        border: none;
        border-radius: 2em;
        outline: none;
        width: fit-content;
        align-self: center;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
